<% layout(layoutPath) -%>
<div class="page-header">
	<h1>
	Edit Service Categories
	<small>
	<i class="icon-double-angle-right"></i>
	select which services you provide
	</small>
	</h1>
	</div><!-- /.page-header -->
	<style type="text/css">
	.section-holder {
	min-height: 100px;
	}
	</style>
	<div class="row">
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="widget-box">
			<div class="widget-header">
				<h4>Contact Information</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<ul id="sort_sections" class="sections ui-sortable">
						<li class="section" id="section_42">
							<div class="section-header" id="section_header_42">
								<span class="collapse"></span>
								<div class="section-name">
									<span class="name">Empty1</span>
								</div>
								<span class="dragger"></span>
								<div class="clear">
								</div>
							</div>
							<div class="section-holder">
								<ul id="sort_content_42" class="section-content ui-sortable">
								</ul>
							</div>
						</li>
						<li class="section" id="section_41">
							<div class="section-header" id="section_header_41">
								<span class="collapse"></span>
								<div class="section-name">
									<span class="name">Empty2</span>
								</div>
								<span class="dragger"></span>
								<div class="clear">
								</div>
							</div>
							<div class="section-holder">
								<ul id="sort_content_41" class="section-content ui-sortable">
									<li class="content" id="content_105" style="position: relative; "> <a class="edit" href="#" id="content_name_105">New Content</a> <span class="dragger"></span>
										<div class="clear">
										</div>
									</li>
									<li class="content2" id="content_1052" style="position: relative; "> <a class="edit" href="#" id="content_name_1052">New Content2</a> <span class="dragger2"></span>
										<div class="clear">
										</div>
									</li>
									
								</ul>
							</div>
						</li>
					</ul>
					<!-- 					<form action="/editcompany" method="post">
						<fieldset>
							<style>
									#sortable1, #sortable2 { min-height: 200px; height: 300px;	 background-color: red;list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px;  }
							#sortable1 li, #sortable2 li { background-color: blue; margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; min-height: 120px; }
							</style>
							
							<ul  style="min-height: 1000px;"id="sortable1" class="connectedSortable">
								<li class="ui-state-default">Item 1</li>
								<li class="ui-state-default">Item 2</li>
							</ul>
							
							<ul style="min-height: 1000px;"id="sortable2" class="connectedSortable">
								<li class="ui-state-highlight">Item 1</li>
								<li class="ui-state-highlight">Item 2</li>
							</ul>
							
							
						</fieldset>
						<div class="form-actions center">
							<button type="button" class="btn btn-sm btn-info">
							Save
							</button>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.raphael-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.pie-min.js"></script>
</head>
<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/onlinepricing/edit_servicecategories.js"></script>