<% layout(layoutPath) -%>
<style>
.section-holder {
min-height: 50px;
background-color: blue;
}
</style>
<div class="page-header">
	<h1>
	Update Service Categories
	<small>
	<i class="icon-double-angle-right"></i>
	select which categories of service you provide
	</small>
	</h1>
	</div><!-- /.page-header -->
	<div class="row">
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="widget-box">
			<div class="widget-header">
				<h4>Available Services</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<ul id="sort_sections" class="sections ui-sortable">
						<!-- 						<li class="section" id="section_42">
							<div class="section-header" id="section_header_42">
								<span class="collapse"></span>
								<div class="section-name">
									<span class="name">Empty1</span>
								</div>
								<span class="dragger"></span>
								<div class="clear">
								</div>
							</div>
							<div class="section-holder">
								<ul id="sort_content_42" class="section-content ui-sortable">
								</ul>
							</div>
						</li> -->
						<li class="section" id="section_41">
							<div class="section-header" id="section_header_41">
								<span class="collapse"></span>
								<div class="section-name">
									<span class="name">Empty2</span>
								</div>
								<span class="dragger"></span>
								<div class="clear">
								</div>
							</div>
							<div class="section-holder">
								<ul id="sort_content_41" class="section-content ui-sortable">
									<li class="content" id="content_105" style="position: relative; "> <a class="edit" href="#" id="content_name_106">Carpet Cleaning</a> <span class="dragger"></span>
										<div class="clear">
										</div>
									</li>
								</ul>
								<ul id="sort_content_41" class="section-content ui-sortable">
									<li class="content" id="content_105" style="position: relative; "> <a class="edit" href="#" id="content_name_105">Tile Cleaning</a> <span class="dragger"></span>
										<div class="clear">
										</div>
									</li>
								</ul>
																<ul id="sort_content_41" class="section-content ui-sortable">
									<li class="content" id="content_105" style="position: relative; "> <a class="edit" href="#" id="content_name_105">Upholstery Cleaning</a> <span class="dragger"></span>
										<div class="clear">
										</div>
									</li>
								</ul>
																<ul id="sort_content_41" class="section-content ui-sortable">
									<li class="content" id="content_105" style="position: relative; "> <a class="edit" href="#" id="content_name_105">Area Rug Cleaning</a> <span class="dragger"></span>
										<div class="clear">
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-5">
		<div class="widget-box">
			<div class="widget-header">
				<h4>Your Services</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<ul id="sort_sections" class="sections ui-sortable">
						<li class="section" id="section_42">
							<div class="section-header" id="section_header_42">
								<span class="collapse"></span>
								<div class="section-name">
									<span class="name">Empty1</span>
								</div>
								<span class="dragger"></span>
								<div class="clear">
								</div>
							</div>
							<div class="section-holder">
								<ul id="sort_content_42" class="section-content ui-sortable">
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js"></script>
	<script type="text/javascript" src="/js/date2.js"></script>
	<script type="text/javascript" src="/js/jquery.json-2.4.min.js"></script>
	<script type="text/javascript" src="/js/jquery.client.js"></script>
	<script type="text/javascript" src="/js/browser_fix.js"></script>
	<script type="text/javascript" src="/js/json2.js"></script>
	<script type="text/javascript" src="/js/onlinepricing/edit_servicecategories.js"></script>