<head>
    <link href='/css/bootstrap.min.css' rel='stylesheet'>
    <link href='/css/bootstrap-responsive.min.css' rel='stylesheet'>
    <link href='/css/pricing.css' rel='stylesheet'>

    <title></title>
</head>

<body>
    <div id="background">
    <div class="container-fluid" id="zipcodearea">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid" >
                    <div class="span2"></div>

                    <div class="span8"><img src="/img/acc.gif"></div>

                    <div class="span2"></div>
                </div>

                <div class="row-fluid">
                    <div class="span12"></div>
                </div>

                <div class="row-fluid">
                    <div class="span4"></div>

                    <div class="span4">
                        <div class="well" id="zipcodewell">
                            <h4 id="zipModalLabel">Enter Your Zipcode</h4>
                            <form onsubmit="return false;">
                                <fieldset>
                                    <input id="zipcodetext" name="zipcodetext" value="75701"
                                    placeholder="" required="" type="text">
                                </fieldset>
                            </form>
                        </div>

                        <div class="alert" name="nozip" id="nozip">
                            Sorry but we do not service this area. If you feel
                            this is an error please call 903 566-3081
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-primary" onclick=
                            "zipCheck($('#zipcodetext').val());">Next <em class=
                            "icon-arrow-right icon-white"></em></button>
                        </div>
                    </div>
                </div>

                <div class="span4"></div>
            </div>
        </div>
    </div>


    <div class="container-fluid" id="pricecalculator">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span2"></div>

                    <div class="span8"><img src="/img/acc.gif"></div>

                    <div class="span2"></div>
                </div>

                <div class="row-fluid">
                    <div class="span2"></div>

                    <div class="span8">
                        <div class="row-fluid" id="pricearea">
                            <div class="span3">
                                <div class="accordion" id="accordion2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle"
                                            data-parent="#accordion2"
                                            data-toggle="collapse" href=
                                            "#collapseOne">Carpet</a>
                                        </div>

                                        <div class="accordion-body collapse"
                                        id="collapseOne" style="height: 0px;">
                                            <div class="accordion-inner">
                                                <!-- <div class="well sidebar-nav"> -->

                                                <ul class="nav nav-list" id=
                                                "carpet-nav-list"></ul>
                                                <!--  </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle"
                                            data-parent="#accordion2"
                                            data-toggle="collapse" href=
                                            "#collapseTwo">Tile</a>
                                        </div>

                                        <div class="accordion-body collapse"
                                        id="collapseTwo">
                                            <div class="accordion-inner">
                                                <ul class="nav nav-list" id=
                                                "tile-nav-list"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle"
                                            data-parent="#accordion2"
                                            data-toggle="collapse" href=
                                            "#collapseThree">Oriental Rugs</a>
                                        </div>

                                        <div class="accordion-body collapse"
                                        id="collapseThree">
                                            <div class="accordion-inner">
                                                <ul class="nav nav-list" id=
                                                "upruglist"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle"
                                            data-parent="#accordion2"
                                            data-toggle="collapse" href=
                                            "#collapseFour">Upholstery</a>
                                        </div>

                                        <div class="accordion-body collapse"
                                        id="collapseFour">
                                            <div class="accordion-inner">
                                                <ul class="nav nav-list" id=
                                                "upnavlist"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="span9">
                                <div class="tableContainer" id=
                                "tableContainer">
                                    <table class="table table-condensed" id=
                                    "carpetrooms">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>

                                        <tbody class="scrollContent" id=
                                        "carpetroomstable">
                                            <tr>
                                                <td style="border-top: 0px;">
                                                    <div class="alert" id=
                                                    "noservice">
                                                        Please select a service
                                                        from the Menu on the
                                                        Left
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row" id="min_totals_row">
                                    <div class="span6"></div>

                                    <div class="span3" id="minchargediv">
                                        <span class="mincharge-span"></span>
                                    </div>

                                    <div class="span3" id="pricebox">
                                        <table id="totalstable" class="table table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td>Sub Total</td>

                                                    <td id="dollar">
                                                    <span class="totalspan">0</span></td>
                                                </tr>

                                                <tr id="discountrow">
                                                    <td id="disclabel">
                                                    Discount</td>

                                                    <td id="discountamount">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Tax</td>

                                                    <td id="dollar">
                                                    <span class="taxspan">0</span></td>
                                                </tr>

                                                <tr>
                                                    <td>Total</td>

                                                    <td id="dollar">
                                                    <span class="totspan">0</span></td>
                                                </tr>

                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" id="testrow">
                                    <div class="span8"></div>

                                    <div class="span4">
                                        <div class="pull-right">
                                        <button class="btn" data-dismiss=
                                        "modal" onclick=
                                        "$('#nozip').hide(); $('#pricecalculator').hide(); $('#zipcodearea').show(); return false;">
                                        <em class=
                                        "icon-arrow-left"></em>Back</button>
                                        <button class="btn btn-primary" id=
                                        "priceNext" name="priceNext" onclick=
                                        "$('#pricecalculator').hide(); $('#scheduleform').show(); setServices(); return false;">
                                        Next <em class=
                                        "icon-arrow-right icon-white"></em></button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="container-fluid" id="scheduleform">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8"><img src="/img/acc.gif">
    </div>
    <div class="span2">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          <div id="schedule-div">
        <div name="newtimetest" id="newtimetest">
          <table name="prestable" id="prestable" class="table table-condensed">
            <thead>
              <tr>
                <th class="lastweekhead">
                  <i class="icon-arrow-left">
                  </i>
                  <a class="lastweek" href="#">
                    last week
                  </a>
                </th>
                <th name="prestable-date" id="prestable-date">
                  asdf
                </th>
                <th class="nextweekhead">
                  <a class="nextweek" href="#">
                    next week

                  </a>
                  <i class="icon-arrow-right">
                  </i>
                </th>
              </tr>
            </thead>
          </table>
          <table name="stable" id="stable" class="table">
            <thead>
      <tr>
        <th>
        </th>
        <th class="mondayhead">
          Mon
        </th>
        <th class="tuesdayhead">
          Tues
        </th>
        <th class="wendhead">
          Wend
        </th>
        <th class="thurshead">
          Thurs
        </th>
        <th class="frihead">
          Fri
        </th>
        <th class="sathead">
          Sat
        </th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
            <div class="pull-right">
                                                    <button class="btn"  onclick=
                                        "$('#nozip').hide(); $('#scheduleform').hide(); $('#pricecalculator').show(); return false;">
                                        <em class=
                                        "icon-arrow-left"></em>Back</button>
                                        <button class="btn btn-primary" id=
                                        "priceNext" name="priceNext" onclick=
                                        "$('#scheduleform').hide(); $('#contactform').show();
                                         return false;">
                                        Next <em class=
                                        "icon-arrow-right icon-white"></em></button>
                                    </div>
        </div>
      </div>
    </div>
    <div class="span2">
    </div>
  </div>
</div>




<div class="container-fluid" id="contactform">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8"><img src="/img/acc.gif">
    </div>
    <div class="span2">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <div class="row-fluid">
            <div class="span1">
    </div>
        <div class="span12">
      </button>
      <h3>
        Enter Contact Information
      </h3>
  
    <div>
      <div id="contact-formx" class="clearfix">
<form action="/createonlineprice/<%= pricing.key %>" method="post">
          <div class="row">
            <div class="span5">
              <label>
                Name
              </label>
              <input name="name" value="asdf" id="name" type="text" class="span5" placeholder="John Galt" required>
              <label>
                Email Address
              </label>
              <input input type="email" value="asdf@asdf.com" type="text" class="span5" name="email" id="email" placeholder="jg@email.com" required>
              
              <label>
                Telephone
              </label>
              <input type='telephone' value='9999999999' pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$"    name="telephone" id="telephone"  class="span5" placeholder="903 555 1234" required>
              <label>
                Address
              </label>
              <input input type="address" value='123 asdf' name="address" id="address" type="text" class="span5" placeholder="4242 Easy St." required>
     
    </div>
    <div class="span7">
      <label>
        Special Instructions for your technician:
      </label>
      <textarea placeholder="Any special instructions you would like to pass on to us or the technician goes here." name="instructions" id="instructions" class="input-xlarge span7" rows="10">
      </textarea>
    </div>
    <input type="hidden" id="city" name="city"  required/>
    <input type="hidden" id="state" name="state"  required/>
    <input type="hidden" id="scheduledate" value='laskdjf' name="scheduledate" required/>
    <input type="hidden" id="scheduletime" value='asdf' name="scheduletime"  required/>
    <input type="hidden" id="zipcode" name="zipcode"  required/>
    <input type="hidden" id="services" name="services"  required/>
        <input type="hidden" id="services_totals" name="services_totals"  required/>
    <div class="row"></div>
    <div class="span6"></div><div class="span3" name="formbuttons" id="formbuttons">
        <button type="button" value="Cancel" class="btn" aria-hidden="true" onclick="$('#contactform').hide(); $('#scheduleform').show(); return false;">
      <i class="icon-arrow-left ">
      </i>
      Back
    </button>
    <button type="submit" value="Submit" class="btn btn-primary pull-right">
      Schedule
    </button>
  </div>
    </form>
    
  </div>
  
  </div>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
</body>

  <script type="text/javascript" src="/js/jquery-1.9.1.js"></script> 
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="/js/date2.js"></script> 
    <script type="text/javascript" src="/js/jquery.json-2.4.min.js"></script>    
  <script type="text/javascript" src="/js/jquery.client.js"></script> 
  <script type="text/javascript" src="/js/browser_fix.js"></script>

  <script type="text/javascript" src="/js/onlinepricing/pricing_data.js"></script>       
