<% layout(layoutPath) -%>
<div class="page-header">
  <h1>
  Update Availability
  <small>
  <i class="icon-double-angle-right"></i>
  manually block out time
  </small>
  </h1>
  </div><!-- /.page-header -->

  <div class="row">

  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="widget-box" >
        <div class="widget-header" >
          <h4>Availability</h4>
        </div>
      <div class="widget-body">
        <div class="widget-main">
            <div class="tab-pane" id="availability">
            <div class="container" id="scheduleform">
              <div class="col-md-2"></div>
              
              <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-md-12">
                      <div id="schedule-div">
                        <div name="newtimetest" id="newtimetest">
                          <table name="prestable" id="prestable" class="table table-condensed">
                            <thead>
                              <tr>
                                <th class="lastweekhead"> <i class="glyphicon glyphicon-arrow-left">
                                  </i>
                                  <a class="lastweek" href="#">
                                  last week
                                  </a>
                                </th>
                                <th name="prestable-date" id="prestable-date">asdf</th>
                                <th class="nextweekhead"> <a class="nextweek" href="#">
                                  next week
                                  </a>
                                  <i class="glyphicon glyphicon-arrow-right">
                                  </i>
                                </th>
                              </tr>
                            </thead>
                          </table>
                          <table name="stable" id="stable" class="table">
                            <thead>
                              <tr>
                                <th></th>
                                <th class="mondayhead">Mon</th>
                                <th class="tuesdayhead">Tues</th>
                                <th class="wendhead">Wend</th>
                                <th class="thurshead">Thurs</th>
                                <th class="frihead">Fri</th>
                                <th class="sathead">Sat</th>
                              </tr>
                            </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-right">
                      <!-- <button class="btn btn-default" onclick=" removebooking();">
                      <em class=
                      "icon-minus"></em>Remove</button> -->
                      <button class="btn btn-primary" id="priceNext" name="priceNext" onclick="changeStatus();"><em class="icon-edit"></em>
                      Update</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js"></script>
  <script type="text/javascript" src="/js/date2.js"></script>
  <script type="text/javascript" src="/js/jquery.json-2.4.min.js"></script>
  <script type="text/javascript" src="/js/jquery.client.js"></script>
  <script type="text/javascript" src="/js/browser_fix.js"></script>
  <script type="text/javascript" src="/js/json2.js"></script>
  <script type="text/javascript" src="/js/onlinepricing/availability.js"></script>
  <script type="text/javascript" src="/js/onlinepricing/basic_settings.js"></script>
