<head>

<style media="screen">
body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}
</style>
<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.raphael-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.bar-min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/graphael/0.5.1/g.pie-min.js"></script>
</head>
<body>

<div id="pie"></div>

<script>

</script>
<!-- asdf
<%= abandonments.length %>

<ul>
<% for(var i=0; i<abandonments.length; i++) {%>
   <li><%= abandonments[i].exitpage %></li>
<% } %>
</ul> -->

<p id="copy">
	Demo of
	<a href="http://raphaeljs.com/">Raphaël</a>
	—JavaScript Vector Library
</p>
</body>


  <script type="text/javascript" src="/js/jquery-1.9.1.js"></script> 

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

   <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js"></script>

     <script type="text/javascript" src="/js/json2.js"></script>  
<script type="text/javascript" src="/js/onlinepricing/totals_data.js"></script>  