<% layout(layoutPath) -%>
<h1>Company Settings</h1>
<form action="/cregister" method="post">
  <fieldset>
    <label>Company Name:</label>
    <input type="text" name="name" value="<%= comp.name || "" %>"/>
    <label>Website:</label>
    <input type="url" name="url" value="<%= comp.url || "" %>"/>
    <label>Company Email:</label>
    <input type="email" name="email" value="<%= comp.email || "" %>"/>   
    <button class="btn">Create</button>
  </fieldset>
</form>
